@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}